
.idea/.idea.ThorEpisode2/.idea/

.idea/.idea.ThorEpisode2/

ThorProgram.Tests/obj/Debug/netcoreapp2.1/

ThorProgram.Tests/obj/

ThorProgram/obj/Debug/netcoreapp2.1/

ThorProgram/obj/

ThorProgram.Tests/bin/Debug/netcoreapp2.1/

ThorProgram/bin/Debug/netcoreapp2.1/
